@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-custom-dark: #003366;
  --color-custom-light-dark: #002347;
  --color-custom-light-orange: #f9a147;
  --color-custom-orange: #f17901;
  --color-custom-dark-orange: #d45101;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
